.phone {
    position: absolute;

    right: 120px;
    bottom: -24px;

    width: 430px;
    aspect-ratio: 720 / 1450;

    pointer-events: none;

    z-index: 20;
}

.image {
    object-fit: contain;

    user-select: none;
}