.shell {
  display: flex;

  width: 100%;
  min-height: 100vh;

  background: var(--color-background);
}

.sidebar {
  flex: 0 0 88px;
}

.content {
  flex: 1;
  padding-left: 12px;
}

@media (max-width: 768px) {
  .shell {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 auto;
  }

  .content {
    padding-left: 0;
    padding-bottom: 68px; /* Room for bottom navigation */
    width: 100%;
  }
}
