.section {
  display: flex;
  flex-direction: column;
}

.dragHint {
  font-size: 0.8rem;
  color: #9ca3af;
  margin-top: 4px;
}

.layout {
  display: grid;
  overflow: hidden;
  align-items: stretch;
}

.list {
  display: flex;
  flex-direction: column;
  background: #faf9ff; /* slightly indigoish */
}

.listWithInspector {
  border-right: 1px solid #f3f4f6;
}

.listHeader {
  padding: 14px 16px 10px 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerTitleRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inspectorWrapper {
  position: relative;
  background: var(--color-brand-subtle);
  padding: 8px;
  display: flex;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr !important;
  }
  .listWithInspector {
    border-right: none;
    border-bottom: 1px solid #f3f4f6;
  }
}
