.section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;

    font-size: 1.75rem;
    font-weight: 700;
}

.seeAll {
    margin-left: auto;

    border: none;
    background: transparent;

    color: var(--color-brand);

    font-weight: 600;

    cursor: pointer;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    height: 22px;

    margin-left: 4px;

    border: none;
    background: transparent;

    cursor: pointer;
}