.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
  min-width: 320px;
  padding: 104px 24px 24px 0;
}
.sidebar {
  height: 100vh;
  min-height: 0;
  overflow: auto;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) { .sidebar { display: none; } }
