.layout {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    width: min(100%, 1510px);
    margin: 0 auto;
    padding: var(--space-4) var(--space-6) var(--space-12);
}

.searchBar {
    width: min(500px, 100%);

    align-self: center;

    margin-bottom: calc(var(--space-2) * -1);
}

.content {
    min-height: 220px;
}

@media (max-width: 900px) {
    .layout {
        padding-inline: var(--space-4);
    }
}
